<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" th:object="${login_info}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required>
    </div>
    <p th:text="${login_error}"></p>
    <button type="submit">Login</button>
</form>

</body>
</html>